body{
    background: url("../../img/ipad-exam-background.png") no-repeat;
    background-size: 100%;
    color: #606060;
}
.contain{
    margin: 5.2734375vh 2.34375vw 0 2.34375vw;
}
.exam-type{
    font-size: 36px;
    text-align: center;
    margin-bottom: 15.885416666666666vh;
}
.test .test-item{
    padding-right: 26.26953125vw;
}

.test .test-item .question-title{
    padding-left: 1.07421875vw;
    font-size: 24px;
}
.test .test-item .question{
    font-size: 24px;
    padding-top: 4.1666666666666664vh;
}
.test .test-item .question > p{
    padding-left: 1.07421875vw;
    margin-bottom: 10px;
    padding-right: 0;

}
.test .test-item .question > div{
    height: 5.46875vh;
    line-height: 5.46875vh;
}
.test .test-item .question > div input{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}