body{
    background: url("../../img/ipad-exam-background0.png") no-repeat;
    background-size: 100%;
}
@media all and (orientation : landscape) {
    .title{
        text-align: center;
        color: #fff;
        font-size: 36px;
        margin-top: 5.2734375vh;
        margin-bottom: 12.7vh;
    }
    .item_{
        margin: 0 13.8vw 0 13.8vw;
    }

    .portrait{
        text-align: center;
    }
    .portrait-img{
        display: inline-block;
        height: 16.666666666666666vh;
        width: 12.5vw;
        padding: 8px;
        border: 3px solid #52bbfb;
        border-radius: 50%;
        background: #fff;

    }

    .portrait-img img{
        border-radius: 50%;
    }

    .lesson-content{
        /*position: relative;*/                                                                                         /**/
        margin-top: -8.333333333333333vh;
        height: 56vh;
        width: 100%;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        box-shadow: 10px 5px 10px #dbdbdb;
        background-color: #fff;
        font-size: 24px;
        color: #52bbfb;
        z-index: -1;
    }
    .tab{                                                                                                               /**/
        position: absolute;
        top: 8.333333333333vw;
        left: 16vw;
        display: inline-block;
        width: 5.6640625vw;
        height: 11.458333333333333vh;
        background: url("../../img/tab1.png");
    }
    .teacher{
        width: 18.84765625vw;
        height: 4.1666666666666664vh;
        line-height: 4.1666666666666664vh;
        margin: 9vh auto 0;
        background: url("../../img/user.png") left center no-repeat;
        padding-left: 4.8828125vw;
    }
    .lesson-content > ul{
        margin-top: 3.3854166666666664vh;
        margin-left: 4.39453125vw;
        /*margin-bottom: 13.802083333333334vh;*/
    }
    .lesson-content > ul li{
        padding-left: 4.4921875vw;
        height: 8.854166666666667vh;
        line-height: 8.854166666666667vh;
    }
    .name{
        background: url("../../img/clipboard.png") left center no-repeat;
        font-size: 30px;
        font-weight: bold;
    }
    .time{
        background: url("../../img/clock.png") left center no-repeat;
    }
    .location{
        background: url("../../img/location.png") left center no-repeat;
    }
    .course_state{
        position: absolute;
        top: 42vh;
        left: 63vw;
        display: inline-block;
        width: 14.6484375vw;
        height: 19.53125vh;
        line-height: 19.53125vh;
        border-radius: 50%;
        font-size: 23px;
        text-align: center;
        color: #fff;

        background: #5dd6fd;
    }
}
@media all and (orientation : portrait){
    .title{
        text-align: center;
        color: #fff;
        font-size: 36px;
        margin-top: 5.2734375vw;
        margin-bottom: 12.7vw;
    }
    .item_{
        margin: 0 13.8vh 0 13.8vh;
    }

    .portrait{
        text-align: center;
    }
    .portrait-img{
        display: inline-block;
        height: 16.666666666666666vw;
        width: 12.5vh;
        padding: 8px;
        border: 3px solid #52bbfb;
        border-radius: 50%;
        background: #fff;

    }

    .portrait-img img{
        border-radius: 50%;
    }

    .lesson-content{
        /*position: relative;*/
        margin-top: -8.333333333333333vw;
        height: 56vw;
        width: 100%;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        box-shadow: 10px 5px 10px #dbdbdb;
        background-color: #fff;
        font-size: 24px;
        color: #52bbfb;
        z-index: -1;
    }
    .tab{
        position: absolute;
        top: 8.3333333333333333333vh;
        left: 16vh;
        display: inline-block;
        width: 5.6640625vh;
        height: 11.458333333333333vw;
        background: url("../../img/tab1.png");
    }
    .teacher{
        width: 18.84765625vh;
        height: 4.1666666666666664vw;
        line-height: 4.1666666666666664vw;
        margin: 9vw auto 0;
        background: url("../../img/user.png") left center no-repeat;
        padding-left: 4.8828125vh;
    }
    .lesson-content > ul{
        margin-top: 3.3854166666666664vw;
        margin-left: 4.39453125vh;
        /*margin-bottom: 13.802083333333334vh;*/
    }
    .lesson-content > ul li{
        padding-left: 4.4921875vh;
        height: 8.854166666666667vw;
        line-height: 8.854166666666667vw;
    }
    .name{
        background: url("../../img/clipboard.png") left center no-repeat;
        font-size: 30px;
        font-weight: bold;
    }
    .time{
        background: url("../../img/clock.png") left center no-repeat;
    }
    .location{
        background: url("../../img/location.png") left center no-repeat;
    }
    .course_state{
        position: absolute;
        top: 42vw;
        left: 63vh;
        display: inline-block;
        width: 14.6484375vh;
        height: 19.53125vw;
        line-height: 19.53125vw;
        border-radius: 50%;
        font-size: 23px;
        text-align: center;
        color: #fff;

    }
}
.before-lesson{
    background: #5dd6fd;
}
.before-lesson:before{
    content: '未开始';
}
.lessoning{
    background: #f47966;
}
.lessoning:before{
    content: '进入课堂';
}
.after-lesson{
    background: #606060;
}
.after-lesson:before{
    content: '已结束';
}